# --- Web Scraping & Async ---
httpx
beautifulsoup4

# --- AWS & SQS (LocalStack) ---
boto3

# --- Datenbank (MongoDB) ---
pymongo
motor

# --- Dashboard & Datenanalyse ---
streamlit
pandas
matplotlib
seaborn

# --- Container Orchestrierung ---
docker
